.navbar {
    margin-bottom: 0;
}

body {
    background: rgb(76, 119, 77);
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #ffffff;
}

.jumbotron {
    background: rgb(25, 99, 10);
    color: white;
    text-align: center;
}

.jumbotron p {
    color: white;
    font-size: 26px;
}

.btn-primary {
    color: #fff;
    background:  rgb(10, 99, 72);
    color: #000000;
    border-color: white;
    margin-bottom: 5px;
}

img,
video,
audio {
    margin-top: 10px;
    max-width: 90%;
}

div.caption {
    float: left;
    clear: both;
}
thead{
    background-color: rgb(10, 99, 11);
}

tbody{
    background-color: rgb(48, 144, 55);
}

.button{
    background:  rgb(186, 112, 0);
    color: white;

}

.button_reset{
    background:  rgb(14, 72, 123);
    color: white;

}

.infop{
   color: rgb(248, 224, 204);
}

.info{
    font-size: 12px;
}

.btnAction{
    border: none;
    background-color: rgb(48, 144, 55);
}

a{
    color:black;
    
}
a:hover{
    color: red;
}
i:hover{
    color:rgb(161, 165, 19)
}